body{
  margin: 0;
}


.top-container {
  background-color: #e4f9f5;
  padding-top: 150px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* added this property to stack the elements vertically */
  height: 300px;
}

h1 {
  display: block;
  color: #66bfbf;
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  text-align: center; /* add this property to center the text */
  margin: 0 auto; /* add this property to center the block element horizontally */
}
h2 {
  display: block;
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
}


h3 {
  display: block;
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
}
.mountimg  {
  display: block;
  margin: 0 auto;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud  {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.middle-container {
    margin: 100px 0;
}
.profile-img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; /* optional, to ensure the image fills the entire circle */
}
hr {
    border: dotted #eaf6f6 9px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.button-container {
  text-align: center;
}

.btn {
  display: inline-block;
background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #0d9ca4, #0d7d82);
}
.bottom-container {
  display: block;
  background-color: #66bfbf;
  padding: 50px 0 50px;
  text-align: center; /* center all text horizontally */
}

.footer-link-1 {
  display: inline-block;
  color: #eaf6f6;
  font-size: 0.75rem;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0 20px 0 20px;
}
.footer-link-2 {
  display: inline-block;
  color: #eaf6f6;
  font-size: 0.75rem;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0 20px 0 20px;
}
.footer-link-1:hover, .footer-link-2:hover {
  color: #001169;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.coding-gif {
  width: 300px;
  height: 300px;
}
